 ======== Luma adaptive QP ========
LumaLevelToDeltaQPMode        : 0           # Change luma delta QP based on average luma

#======== Chroma QP scale ============
WCGPPSEnable                  : 0           # enable WCG Chroma scale

#======== VUI Parameters (HLG) ========
#VuiParametersPresent                : 1
#VideoSignalTypePresent              : 1
#VideoFullRange                      : 0
#ColourDescriptionPresent            : 1
#ColourPrimaries                     : 9
#TransferCharacteristics             : 18
#MatrixCoefficients                  : 9
#ChromaLocInfoPresent                : 1
#ChromaSampleLocTypeTopField         : 0
#ChromaSampleLocTypeBottomField      : 0